<div class = "use">
    <div class ="user">
    <% unless current_user.reviews.present? %>
       まだ質問はしていません
      <% else %>
       今まで投稿した質問はこちら
        <%= current_user.nickname %>
     <!--中身のメイン -->
         <% current_user.reviews.each.with_index(1) do |user,i| %>
     <div class = "tweet-main">
         <div class = "tweet-middle">
             <!--中身の左側のメイン -->
          <div class = "tweet-left">
              <!--中身の左側上部のメイン -->
            <div class = "tweet-left-top">
              <div class = "tweet-left-i"><%= i %></div>
              <div class = "tweet-left-reason">
                  <%= user.place %>の<%= user.product %></br>について</div> 
            </div>
            <!--中身の左側下部のメイン -->
            <div class = "tweet-left-bottom">
                    詳細：</br><%= user.details .truncate(100, omission: '....') %>
            </div>
            </div>
            <div class = "tweet-right">
                <%= image_tag user.image, width: '193px', height: '180px' %>
         </div>
     
            </div>
          <% end %>
    <% end %>
    </div>
</div>