<div class = "search-all">
    <p><%= params[:keyword] %>の検索結果</p>
    <% unless @search.present? %>
    検索結果は存在していませんでした。
    <% else %>
<div class = "product-contents">
    <div class = "pictures">
        <% @products.each do |product| %>
        <div class = "picutre-display">
            <%= image_tag product.image_url,width: '270px', height: '180px' %>
        <div class= "picture-ditails">
            <div class= "ditails-category">
                商品使用場所：<%= product.category %>
            </div>
            <div>
                <%= product.name %>
                <%= product.store %>
            </div>
            <div class = "ditails" style="font-size: 10px;">
                詳細（表示される文字数は250文字までです）  
                <div class = "comment">
                <%= truncate(product.details, length: 250) %>
                </div>
            </div>
        </div>
        </div>
       
        <% end %>
        <%= paginate(@products) %>
    </div>
    <div class = "tweet-contents">
        <div class = "tweet-member">
            
                
                <div class = "user-count">
                    ユーザー名</br>投稿数(ランキング)
                <% @user.each.with_index(1) do |product, i| %>
                <ul style= "list-style: none;">
                <li><%= i %>:<%= product.user.nickname %></li>
                </div>
                
                <div class = "tweet-count">
                    ユーザー投稿</br>質問数（カテゴリー別ランキング）
                </div>
                <% end %>
            </ul>
        </div>
        </div>
    <% end %>