<!DOCTYPE HTML5>
 <html>
<head lang = "ja">
    <title>Apply</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src= "text/javascript"></script>
        $(document).ready(function(){
            $('.slide-contents').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>

</head>
    </html>
    <body>
    <header>
        <div class = "headers">
            <div class = "header-name">
                <a href = "/" class = "header-button" ><span style = "font-weight: bold;">HOME
                </span></a>
            </div>
            
            <%= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |f| %>
            <%= f.label :商品の検索はこちら！ %>
            <%= f.text_field :keyword, placeholder: "キーワードはこちらへ", class: "search-input" %>
            <%= f.submit "検索", class: "search-btn" %>
            <% end %>
<!---ここから下はナビゲーション --->
<button id = "menu">メニュー一覧</button>
<nav id= "nav" class = "header-contents">
    <ul>
      <li><%= link_to '製品紹介', '/products',  class: "content" %></li>
      <li><%= link_to 'メニュー', '/reviews/new', class: "content" %></li>
             <% if user_signed_in? %>
      <li><%= link_to 'サインアウト', destroy_user_session_path, method: :delete,  class: "content" %></li>
      <li><%= link_to '質問はこちらから', '/reviews/new', class: "content" %></li>
      <li><%= link_to '投稿履歴', " /users/#{current_user.id}",method: :get, class: "content" %></li>
            <% else %>
      <li><%= link_to 'サインアップ', new_user_registration_path, class: "content" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "content" %></li>               
            <% end %>
    </ul>
</nav>
<div id = "back" class = "menu-background"></div>




<!---ここまでがナビゲーション --->

</div>
        </div>
       
    </header>    
    <%= yield %>
     <footer>
       <div class ="footer-contents-top">
             <a href = "/comments/new" class = "header-button-footer" >サイトについての質問はこちら</a>
             <a href = "/comments/new" class = "header-button-footer" >サイト紹介</a>
             <a href = "/comments/new" class = "header-button-footer" >物件情報【最新のおすすめ物件はこちら】</a>
             <a href = "/comments" class = "header-button-footer" >Q&A</a>
    </div>
     <div class = "copyright">
        <h3>Copyright(c)IETAKU SITE All Rights Reserved.</h3>
    </div>
    </footer>
    </body>